{extend name="public:base" /}
{block name="main"}
    <div class="col-md-12 custom_css_index" role="main">
        <div class="col-md-9 m-b-20">
            <h5>一些资源搜索站点:</h5>
            <ul class="list-unstyled list-inline">
                <li><a href="http://www.chongbuluo.com" target="_blank">虫部落</a></li>
                <li><a href="https://www.zizaifan.com/cloud.html" target="_blank">自在饭</a></li>
                <li><a href="http://www.58wangpan.com" target="_blank">58网盘</a></li>
            </ul>
        </div>

        {include file="public:right" /}
     </div>
{/block}