{extend name="public:layer" /}

{block name="main"}

<form action="/admin/system/save_user" class="form-horizontal" method="post" name="form-add-user" id="form-add-user">

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">用户组</label>
        <div class="col-sm-8">
            <select id="group_id" class="selectpicker form-control" multiple>
                {volist name="group" id="vo"}
                    <option value="{$vo.id}">{$vo.title}</option>
                {/volist}
            </select>
            <input type="hidden" name="group_id" id="group_id_vals" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="username" id="username" value="{$user.username}">
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">昵称</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="nickname" id="nickname" value="{$user.nickname}" placeholder="默认为空则为用户名">
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="email" id="email" value="{$user.email}">
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">电话</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="mobile" id="mobile" value="{$user.mobile}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="status" id="status_1" value="1" {neq name="user.status" value="0"}checked{/neq}>正常
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" id="status_0" value="0" {eq name="user.status" value="0"}checked{/eq}>禁用
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="password" id="password" value="" placeholder="{gt name='user.id' value='0'}默认为空则不修改{/gt}">
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">确认密码</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="confirm_password" id="confirm_password" value="">
        </div>
    </div>

    <input type="hidden" name="id" id="user_id" value="{$user.id}">

</form>

<script type="text/javascript">

    $(function(){
        var group_str = '{$group_ids}';
        var group_arr = group_str.split(',');
        $('#group_id').selectpicker('val',group_arr);
    });

    function save(callback){

        var group_id = $("#group_id").val();
        if(group_id==null){
            _tip_error('用户组必选!');
            return;
        }
        $('#group_id_vals').val(group_id);

        if($.trim($("#username").val()) == ''){
            _tip_error('用户名必填!');
            return;
        }

        var email = $.trim($("#email").val());
        if(validator.isEmail(email)===false){
            _tip_error('email格式错误!');
            return;
        }

        var mobile = $.trim($("#mobile").val());
        if(validator.isMobilePhone(mobile,'zh-CN')===false){
            _tip_error('电话格式错误!');
            return;
        }

        var password = $.trim($('#password').val());
        var confirm_password = $.trim($('#confirm_password').val());

        if($('#user_id').val()>0)
        {
            if(password)
            {
                if(confirm_password == ''){
                    _tip_error('确认密码必填!');
                    return;
                }

                if(password != confirm_password){
                    _tip_error('两次输入密码不一致!');
                    return;
                }
            }
        }
        else
        {
            if(password == ''){
                _tip_error('密码必填!');
                return;
            }

            if(confirm_password == ''){
                _tip_error('确认密码必填!');
                return;
            }

            if(password != confirm_password){
                _tip_error('两次输入密码不一致!');
                return;
            }
        }

        _submit_form('form-add-user',function(){
            if(callback){
                callback();
                _close_movable_popup();
            }
        });
    }

</script>

{/block}