<!DOCTYPE html>
<html>
<head>
    <title>{block name="title"}健康快乐Everyday{/block}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="健康快乐Everyday，互联网技术分享与交流。">
    <meta name="keywords" content="健康快乐Everyday、编程、小说、云资源。">
    <meta name="author" content="kangly">
    <link href="/static/images/favicon.ico" rel="shortcut icon">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-overrides.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/layer/layer.js"></script>
    <script src="/static/js/validator/validator.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body id="novel-top">
<!-- nav start -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo.png" width="100">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="sel-active-nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/novel/index.html">小说</a></li>
                <li><a href="/cloud/index.html">云资源</a></li>
                <li><a href="/books/index.html">编程书籍</a></li>
                <li><a href="http://blog.kangly.club" target="_blank">博客</a></li>
                <li><a href="/bugs/index.html">反馈</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {neq name='userInfo.nickname' value=''}
                <li><a href="/member/index.html" target="_blank">会员中心</a></li>
                <li><a href="javascript:void(0);">{$userInfo.nickname}</a></li>
                <li><a href="javascript:void(0);" onclick="_sign_out('{$userInfo.uid}')">注销</a></li>
                {else/}
                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">注册/登录</a></li>
                {/neq}
            </ul>
        </div>
    </div>
</nav>
<!-- nav end -->
<!-- Modal start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">注册/登录</h4>
            </div>
            <div class="modal-body">
                <div class="login-box">
                    <div class="box-con tran">
                        <div class="login-con f-l">
                            <div class="error-notice login_success"></div>
                            <div class="form-group">
                                <input type="text" placeholder="邮箱" id="login_email">
                                <span class="error-notice login_email"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="密码" id="login_password">
                                <span class="error-notice login_password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="tran pr">
                                    <a href="javascript:void(0);" class="tran" onclick="_login()">登录</a>
                                    <img class="loading" src="/static/images/loading.gif">
                                </button>
                            </div>
                            <div class="from-line"></div>
                            <div class="form-group">
                                <a href="javascript:void(0);" class="move-signup a-tag tran blue-border">还没有帐号？免费注册<i class="iconfont tran"></i></a>
                            </div>
                            <!--<div class="form-group">
                                <a href="javascript:void(0);" class="move-reset a-tag tran">忘记密码？重置 <i class="iconfont tran"></i></a>
                            </div>
                            <div class="form-group">
                                <a href="javascript:void(0);" class="move-other a-tag tran">使用第三方帐号登录<i class="iconfont tran"></i></a>
                            </div>-->
                        </div>

                        <div class="signup f-l">
                            <div class="signup-email">
                                <div class="error-notice success"></div>
                                <div class="form-group">
                                    <input type="text" placeholder="邮箱" id="register_email">
                                    <span class="error-notice email"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="昵称" id="nickname">
                                    <span class="error-notice nickname"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="密码（6~16位,且为数字和字母组合）" id="password">
                                    <span class="error-notice password"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="tran pr">
                                        <a href="javascript:void(0);" class="tran" onclick="_register()">注册</a>
                                        <img class="loading" src="/static/images/loading.gif">
                                    </button>
                                </div>
                                <p class="view-clause">点击注册前，请阅读我们的 <a href="/instructions" target="_blank">使用必读</a></p>
                            </div>
                            <div class="from-line"></div>
                            <div class="form-group">
                                <a href="javascript:void(0);" class="move-login a-tag tran blue-border">已有帐号？登录<i class="iconfont tran"></i></a>
                            </div>
                            <!--<div class="form-group">
                                <a href="javascript:void(0);" class="move-other a-tag tran">使用第三方帐号登录<i class="iconfont tran"></i></a>
                            </div>-->
                        </div>

                        <div class="other-way f-l">
                            <div class="form-group">
                                <button type="submit" class="tran pr">
                                    <a href="javascript:void(0);" class="tran">QQ帐号登录</a>
                                    <img class="loading" src="/static/images/loading.gif">
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="tran pr">
                                    <a href="javascript:void(0);" class="tran">微信帐号登录</a>
                                    <img class="loading" src="/static/images/loading.gif">
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="tran pr">
                                    <a href="javascript:void(0);" class="tran">新浪微博帐号登录</a>
                                    <img class="loading" src="/static/images/loading.gif">
                                </button>
                            </div>
                            <div class="from-line"></div>
                            <div class="form-group">
                                <a href="javascript:void(0);" class="move-signup a-tag tran blue-border">还没有帐号？免费注册<i class="iconfont tran"></i></a>
                            </div>
                            <div class="form-group">
                                <a href="javascript:void(0);" class="move-login a-tag tran">已有帐号？登录<i class="iconfont tran"></i></a>
                            </div>
                        </div>

                        <div class="mimachongzhi f-l">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您的邮箱地址">
                                <span class="error-notice">邮箱格式不正确</span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="tran pr">
                                    <a href="javascript:void(0);" class="tran">发送重置密码邮件</a>
                                    <img class="loading" src="/static/images/loading.gif">
                                </button>
                            </div>
                            <div class="from-line"></div>
                            <div class="form-group">
                                <a href="javascript:void(0);" class="move-signup a-tag tran blue-border">还没有帐号？免费注册<i class="iconfont tran"></i></a>
                            </div>
                            <div class="form-group">
                                <a href="javascript:void(0);" class="move-login a-tag tran">已有帐号？登录<i class="iconfont tran"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
<!-- main start -->
<div class="container-fluid base-main">
    <div class="row">
        {block name="main"}{/block}
    </div>
</div>
<!-- main end -->
<!-- footer start -->
<div id="novel-bottom"></div>
<footer class="page-footer">
    <div class="container">
        <ul class="list-unstyled list-inline">
            <li><a href="http://www.chongbuluo.com" target="_blank">虫部落</a></li>
            <li><a href="https://zizaifan.com" target="_blank">自在饭</a></li>
            <li><a href="https://leetcode-cn.com" target="_blank">力扣</a></li>
            <li><a href="http://www.v2dy.com/" target="_blank">胖鸟</a></li>
            <li><a href="https://neets.cc/" target="_blank">Neets搜索站</a></li>
            <li><a href="https://cn.gimy.tv/" target="_blank">Gimy TV 剧迷</a></li>

            <li><a href="https://www.cupfox.com" target="_blank">茶杯狐</a></li>
            <li><a href="http://www.58wangpan.com" target="_blank">58网盘</a></li>
            <li><a href="https://www.56wangpan.com" target="_blank">56网盘</a></li>
            <li><a href="http://www.booklist.mobi" target="_blank">书单</a></li>
            <li><a href="http://shebeishang168.com" target="_blank">共赢网</a></li>
            <li><a href="/test/index.html" target="_blank">test</a></li>
        </ul>
        <p class="contact">
            Contact me at:
            <a href="https://github.com/kangly" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
            <a href="mailto:371976974@qq.com" title="email"><i class="fa fa-envelope"></i></a>
            <a style="font-size: 14px;margin-left: 3px;" href="/instructions" target="_blank">使用必读</a>
        </p>
        <p><i class="fa fa-copyright footer-copyright"></i>2019 健康快乐Everyday 京ICP备18060004号</p>
        <p>版权信息：本站资源来自互联网，仅用于学习和交流，请遵循相关法律法规，本站一切资源不代表本站立场，如有侵权、请联系本站删除。</p>
    </div>
</footer>
<!-- footer end -->
</body>
</html>