<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹框通用页</title>
    <link href="/assets/libs/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/libs/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/assets/libs/jstree/themes/default/style.min.css" rel="stylesheet" />
    <script src="/assets/libs/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.form.min.js" type="text/javascript"></script>
    <script src="/assets/libs/popper.js/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/libs/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/assets/libs/jstree/jstree.min.js" type="text/javascript"></script>
    <script src="/assets/libs/layer/layer.js" type="text/javascript"></script>
    <script src="/assets/js/device.min.js"></script>
    <script src="/assets/libs/validator/validator.min.js"></script>
    <script src="/assets/libs/wangEditor/wangEditor.min.js"></script>
    <script src="/assets/js/common.js"></script>
    <script type="text/javascript">var device = device.default;</script>
    <style type="text/css">.form-horizontal .form-group {margin: 10px 0 10px 0;}.form-horizontal .form-group {border-top: 1px solid #ffffff;border-bottom: 1px solid #eeeeee;margin-bottom: 0;}  .jstree-default .jstree-clicked {background: transparent;box-shadow: none;}</style>
</head>
<body>
    {block name="main"}{/block}
</body>
</html>