{extend name="public:base" /}
{block name="main"}
    <div class="col-md-12 custom_css_base" role="main">
        <div class="col-md-9 dmb">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search_keyword" value="{$keyword}" placeholder="输入您要搜索的小说名称">
                        <span class="input-group-btn">
                            <a class="btn btn-success" role="button" onclick="curl_novel()">搜索</a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row center-block dmt">
                {notempty name="list_data"}
                    {volist name="list_data" id="vo"}
                        <div class="result-item">
                            <div class="result-game-item-pic hidden-xs">
                                <a href="{$vo.link}" title="{$vo.title}" target="_blank">
                                    <img src="{$vo.img}" class="result-game-item-pic-link-img">
                                </a>
                            </div>
                            <div>
                                <h3>
                                    <a href="{$vo.link}" title="{$vo.title}" target="_blank">
                                        <span>{$vo.title}</span>
                                    </a>
                                </h3>
                                <p>{$vo.intro}</p>
                                <div>
                                    {$vo.tags|raw}
                                </div>
                            </div>
                        </div>
                    {/volist}
                    <div>
                        {$pages|raw}
                    </div>
                    {else/}
                    <div class="empty_result">查询结果为空！</div>
                {/notempty}
            </div>
        </div>

        {include file="public:right" /}
    </div>

    <script type="text/javascript">
        $(function(){
            $("img").one("error", function(e){
                $(this).attr("src", "https://t1.picb.cc/uploads/2018/01/31/UNpMX.md.jpg");
            });
            _call_enter_event('#search_keyword',function(){curl_novel()});
        });

        function curl_novel(){
            var keyword = $.trim($('#search_keyword').val());
            if(!keyword){
                _tip_error('请输入要搜索的小说名称!');
                return;
            }
            location.href = '/novel/search?k='+keyword;
        }
    </script>
{/block}