{extend name="public:base" /}
{block name="main"}
    <div class="col-md-12" role="main">
       <h4 class="chapter_title">{$view.title}</h4>
        <div class="other_chapter top_other_chapter">
            {gt name='view.lid' value='0'}
            <a class="btn-link" href="/novel/view/{$nid}/{$view.lid}.html">上一章</a>
            {else/}
            <a class="btn-link" href="#">上一章</a>
            {/gt}
            <a class="btn-link" href="/book/{$nid}.html">目录</a>
            {gt name='view.nid' value='0'}
            <a class="btn-link" href="/novel/view/{$nid}/{$view.nid}.html">下一章</a>
            {else/}
            <a class="btn-link" href="#">下一章</a>
            {/gt}
        </div>
        <div class="view_content">{$view.content|raw}</div>
        <div class="other_chapter bottom_other_chapter">
            {gt name='view.lid' value='0'}
            <a class="btn-link" href="/novel/view/{$nid}/{$view.lid}.html">上一章</a>
            {else/}
            <a class="btn-link" href="#">上一章</a>
            {/gt}
            <a class="btn-link" href="/book/{$nid}.html">目录</a>
            {gt name='view.nid' value='0'}
            <a class="btn-link" href="/novel/view/{$nid}/{$view.nid}.html">下一章</a>
            {else/}
            <a class="btn-link" href="#">下一章</a>
            {/gt}
        </div>
        <!--畅言安装代码 PC和WAP自适应版-->
        <div id="SOHUCS" sid="{$id}" style="margin-bottom: 10px;"></div>
        <script type="text/javascript">
            (function(){
                var appid = 'cyu3cgHYG';
                var conf = 'prod_c012855e97242cb1b180a68ca557f429';
                var width = window.innerWidth || document.documentElement.clientWidth;
                if (width < 960) {
                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                } else {
                    var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})});
                }
            })();
        </script>
    </div>
{/block}